//hello
@use "./base/reset";
@use "./mixin" as *;

$main-color: #2196f3;



.game {
  @include landing(#eee);

  .name {
    background-color: #{$main-color};
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }

  .container {
    margin-inline: auto;
    max-width: 900px;

    .message {
      background-color: white;
      padding: 15px;
      margin: 15px 0;
      border-radius: 6px;
      text-align: center;

      span {
        font-family: bold;
        color: $main-color;

        &::before {
          content: "[ ";
        }

        &::after {
          content: " ]";
        }
      }
    }

    .start {
      background-color: $main-color;
      cursor: url("/5173008_arrow_click_cursor_pointer_icon\ \(1\).png"), pointer;
      display: flex;
      justify-content: center;
      position: relative;
      span{
      padding: 20px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        display: block;
      }
      select{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: $main-color;
        color: white;
        padding: 5px 4px;
        border:2px solid white;
        outline: none;
        text-align: center;
        option:active{
          color: $main-color;
          background-color: white;
        }
      } 
    }

    .the-word {
      text-align: center;
      font-weight: bold;
      font-size: 60px;
      color: $main-color;
      user-select: none;
    }

    .input {
      @include inputFull($main-color);
      margin: 15px 0;
      text-transform: capitalize;
      border-radius: 6px;
      caret-color:#{$main-color};
      outline: none;
      &::placeholder{
        color: $main-color;
      }
    }

    .upcoming {
      background-color: white;
      margin: 15px 0;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &:empty {
        display: none;
      }

      div {
        background-color: $main-color;
        color: white;
        font-weight: bold;
        margin: 4px;
        padding: 4px 6px;
        border-radius: 4px;
      }
    }

    .control {
      display: flex;
      justify-content: space-between;
      background-color: white;
      padding: 15px;

      span {
        font-weight: bold;
        color: #{$main-color};
      }
    }

    .finish {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      padding: 15px;


      .good {
        color: $main-color;
      }

      .bad {
        color: red;
      }
    }
  }
}