/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.game {
  background-color: #eee;
  height: 100vh;
}
.game .name {
  background-color: #2196f3;
  color: white;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.game .container {
  margin-inline: auto;
  max-width: 900px;
}
.game .container .message {
  background-color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  text-align: center;
}
.game .container .message span {
  font-family: bold;
  color: #2196f3;
}
.game .container .message span::before {
  content: "[ ";
}
.game .container .message span::after {
  content: " ]";
}
.game .container .start {
  background-color: #2196f3;
  cursor: url("/5173008_arrow_click_cursor_pointer_icon (1).png"), pointer;
  display: flex;
  justify-content: center;
  position: relative;
}
.game .container .start span {
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
}
.game .container .start select {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: #2196f3;
  color: white;
  padding: 5px 4px;
  border: 2px solid white;
  outline: none;
  text-align: center;
}
.game .container .start select option:active {
  color: #2196f3;
  background-color: white;
}
.game .container .the-word {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  color: #2196f3;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.game .container .input {
  width: 100%;
  display: block;
  padding: 15px;
  border: 3px solid #2196f3;
  font-size: 20px;
  text-align: center;
  margin: 15px 0;
  text-transform: capitalize;
  border-radius: 6px;
  caret-color: #2196f3;
  outline: none;
}
.game .container .input::-moz-placeholder {
  color: #2196f3;
}
.game .container .input::placeholder {
  color: #2196f3;
}
.game .container .upcoming {
  background-color: white;
  margin: 15px 0;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game .container .upcoming:empty {
  display: none;
}
.game .container .upcoming div {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 4px 6px;
  border-radius: 4px;
}
.game .container .control {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
}
.game .container .control span {
  font-weight: bold;
  color: #2196f3;
}
.game .container .finish {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}
.game .container .finish .good {
  color: #2196f3;
}
.game .container .finish .bad {
  color: red;
}/*# sourceMappingURL=main.css.map */